      <nav class="lios-header-nav frosted_background frosted_texture">
        <div class="lios-nav-title"><span>Virtual Periodic Table</span></div>
        <div class="lios-nav-contents">
          <div class="lios-segmented-button">
            <a href="/" class="lios-button frosted_background"
              ><span>Home</span></a
            >
            <a
              href="https://github.com/LiOS-org/Virtual-PeriodicTable"
              class="lios-button frosted_background"
              ><span>GitHub</span></a
            >
            <a href="#About" class="lios-button frosted_background"
              ><span>About</span></a
            >
          </div>
        </div>
      </nav>