    <div
      id="About"
      class="frosted_background frosted_texture lios-window-container"
    >
      <div class="lios-window-titlebar">
        <span class="lios-window-title">About</span
        ><span class="lios-window-close" data-lios-window-close>X</span>
      </div>
      <hr />
      <div class="lios-window">
        <div class="lios-window-contents">
          <img
            src="../../assets/Favicon/500x500.png"
            alt="Virtual Periodic Table"
            class="favicon"
          />
          <div class="lios-window-header">Virtual Periodic Table</div>
          <p>
            Virtual-PeriodicTable is an open-source project designed to provide
            a customizable and interactive periodic table. Unlike many existing
            solutions, this project emphasizes simplicity and accessibility,
            allowing anyone with basic knowledge of HTML and CSS to modify it
            according to their preferences.
          </p>
          <div class="lios-window-card frosted_background">
            <div class="lios-window-container-title">General Information</div>
            <a
              href="https://github.com/LiOS-org/Virtual-PeriodicTable/releases/tag/3.0.0"
              class="lios-window-value-row"
              ><span class="key">Version</span
              ><span class="value">3.0.0</span></a
            >
            <div class="lios-window-value-row">
              <span class="key">Version name</span
              ><span class="value">Short n' Descriptive</span>
            </div>
            <div class="lios-window-value-row">
              <span class="key">Channel</span
              ><span class="value">Pre-release</span>
            </div>
            <div class="lios-window-value-row">
              <span class="key">LiOS-Open Version</span
              ><span class="value">Unreleased, rolling</span>
            </div>
          </div>
          <div class="lios-window-card frosted_background">
            <div class="lios-window-container-title">License Information</div>
            <a
              href="https://github.com/LiOS-org/Virtual-PeriodicTable?tab=GPL-3.0-1-ov-file"
              class="lios-window-value-row"
              ><span class="key">Source Code</span
              ><span class="value">GPL-3.0</span></a
            >
          </div>
          <div class="lios-window-card frosted_background">
            <div class="lios-window-container-title">
              <span>More from Us</span>
            </div>
            <div class="lios-button-group more-from-us">
              <a
                href="https://lios-org.web.app"
                class="lios-button frosted_background"
                ><span>Visit LiOS</span></a
              >
              <a
                href="https://lios-colors.web.app"
                class="lios-button frosted_background"
                ><span>LiOS:Colors</span></a
              >
              <a
                href="https://tech-informal.web.app"
                class="lios-button frosted_background"
                ><span>Tech Informal</span></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>