#legend{
  display: flex;

  overflow: hidden;
  flex-direction: row;
  justify-content: center;
}
#legend > .lios-card{
  display: flex;
  z-index: unset;
  margin-bottom: auto;
  text-align: center;
  flex-direction: column;
  background: var(--frosted_primary);
  justify-content: center;
}
#legend .lios-card{
  margin-top: 2px;
}
#legend .lios-card a{
  text-decoration: none;
  width: 200px;
  flex: 1;
}
.lios-card.alkali_matal{
  background: var(--color_Alkali_Metals);
}
/* 
#alkali-metal:target .alkali_metal{
  box-shadow: 0 0 15px var(--red);
  animation: element-on-target 1s ease-in-out infinite;
}
#alkaline-earth-metal:target .alkaline_earth_metal{
  box-shadow: 0 0 15px var(--red);
  animation: element-on-target 1s ease-in-out infinite;
}
@keyframes element-on-target {
  0% {
    box-shadow: 0 0 0px var(--red);
  }
  25% {
    box-shadow: 0 0 30px var(--red);
  }
  50%{
    box-shadow: 0 0 60px var(--red);
  }
  100% {
    box-shadow: 0 0 5px var(--red);
  }
} */