#legend{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}
#legend > .lios-card{
  display: flex;
  z-index: unset;
  margin-bottom: auto;
  text-align: center;
  flex-direction: column;
  background: var(--frosted_primary);
}
#legend .lios-card-title{
  color: var(--black);
}
#legend .lios-card{
  margin-top: 2px;
  color: var(--frosted_white);
  height: max-content;
}
.lios-card.alkali_matal{
  background: var(--color_Alkali_Metals);
}
.lios-card.states > .lios-button{
  background: var(--secondary);
}
#legend .lios-card .lios-button{
  margin-top: 2px;
  border-radius: inherit;
}