:root {
  --lios-window-border-color: var(--secondary);
  --lios-loader-3-cube-color: var(--white);
  --lios-loader-3-trail-color: var(--primary);
  --lios-loader-3-container-color: var(--secondary);
  --lios-loader-3-track-color: var(--frosted_white);
  --lios-action-button-background: var(--secondary);
  --lios-action-button-box-shadow:var(--frosted_secondary);
}
nav {
  --lios-header-nav-background: var(--background);
  --lios-button-background: var(--background);
  --lios-button-on-hover-background: var(--primary);
}

.lios-window {
  --lios-button-on-hover-background: var(--primary);
  --lios-button-border-width: 2px;
  --lios-button-border-color: var(--secondary);
}
