nav {
  --lios-header-nav-background: var(--frosted_white);
  --lios-segmented-button-background: var(--frosted_white);
  --lios-segmented-button-border: 2px groove var(--white);
  --lios-button-on-hover-background: var(--primary);
}
:root {
  --lios-window-border-color: var(--secondary);
}
.lios-window {
  --lios-button-on-hover-background: var(--primary);
  --lios-button-border-width: 2px;
  --lios-button-border-color: var(--secondary);
}
