.main_container {
  border-radius: 5px;
  background: var(--frosted_white);
}
:root {
  background: linear-gradient(
    45deg,
    var(--secondary) var(--stop),
    var(--primary)
  );
  animation: root-background 50s linear infinite;

  transition: all 2s;
}
