.main_container {
  border-radius: 5px;
  --background: var(--frosted_white);
  background: var(--background);
  border: 2px outset var(--background);
  box-sizing: border-box;
}
:root {
  background: linear-gradient(
    45deg,
    var(--secondary) var(--stop),
    var(--primary)
  );
  animation: root-background 50s linear infinite;

  transition: all 2s;
}
