.table {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: nowrap;
  margin-left: auto;
  margin-right: auto;
  overflow-x: scroll;
  overflow-y: hidden;
  align-items: flex-end;
  margin-top: 15px;
}
.element_container {
  display: flexbox; /* It is intentionally set to "flexbox" for specific layout purposes, changing it to flex or any other property may break things */
  --height: 100px;
  height: var(--height);
  --width: 72.3px;
  width: var(--width);
  font-size: clamp(10px, 2vw + 1rem, 14px);
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  margin: 1px 1px 1px 1px;
}
.element_container:target {
  animation: element_on_target 1.2s ease-in-out 3;
}
.element_container .definition {
  margin-top: 100%;
  margin-bottom: auto;
  --background: var(--frosted_white);
  background: var(--background);
  text-wrap: wrap;
  text-align: left;
  transition: all 0.5s ease-in-out;
  border-radius: inherit;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  scrollbar-width: none;
  border: 2px inset var(--background);
  box-sizing: border-box;
  color: var(--black);
}
@keyframes element_on_target {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0px var(--red);
    z-index: unset;
  }
  30% {
    transform: scale(1.15);
    box-shadow: 0 0 30px var(--red);
    z-index: 5;
  }
  60% {
    transform: scale(1);
    box-shadow: 0 0 5px var(--red);
    z-index: 5;
  }
  100% {
    transform: scale(1.05);
    box-shadow: 0 0 0px transparent;
    z-index: 5;
  }
}
.element_container .atomic_no {
  width: 100%;
  text-align: left;
  font-size: 12px;
  font-family: jetBrainsMono;
}
.element_container .symbol {
  font-size: 28px;
  font-family: jetBrainsMono;
  text-align: center;
}
.element_container .name {
  text-align: center;
  font-size: 12px;
  font-family: workSans;
  width: 72px;
  overflow-wrap: break-word;
}
.element_container .mass {
  font-size: clamp(10px, 2vw + 1rem, 14px);
  text-align: center;
  font-family: jetBrainsMono;
}
.radioactive_elements {
  display: flex;
  width: fit-content;
  max-width: 100%;
  align-self: center;
  margin-left: 50%;
  margin-right: 50%;
  transform: translateX(-50%);
  margin-top: 50px;
  overflow-x: scroll;
  overflow-y: visible;
  flex-direction: column;
  align-items: center;
}
.radioactive_elements .element_container {
  margin: auto auto 2px 2px;
}
.lanthanoids_group,
.actinoids_group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: fit-content;
  background: transparent;
  overflow-x: scroll;
  overflow-y: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  --background: var(--frosted_primary);
  background: var(--background);
  border: 2px inset var(--background);
  padding: 15px;
  box-sizing: content-box;
  align-items: center;
}
/* On Hover Effects  */
.element_container:hover {
  z-index: 10;
  scale: 1.1;
  position: sticky;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  animation: element_on_hover 0.5s ease-in-out 1 forwards;
  animation-delay: 0.5ms;
  width: calc(var(--width) + 15px);
  height: calc(var(--height) + 5px);
}
.definition{
  display: none;
  text-align: left;
}
.element_container:hover .definition {
  margin-top: 0%;
  transform: translateY(-85%);
  margin-bottom: auto;
  overflow-y: scroll;
  transition: all 0.5s ease-in-out;
}
@keyframes element_on_hover {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0px var(--primary);
  }
  50% {
    transform: scale(1.15);
    box-shadow: 0 0 30px var(--primary);
  }
  100% {
    transform: scale(1.1);
    box-shadow: 0 0 5px var(--primary);
  }
}
/* On focus events */
.definition:focus {
  display: none;
}
/* Exceptions */
#Rutherfordium:hover .definition {
  transform: translateY(-99%);
}
#Molybdenum:hover .definition {
  transform: translateY(-99%);
}
#Darmstadtium:hover .definition {
  transform: translateY(-99%);
}
#Roentgenium:hover .definition {
  transform: translateY(-99%);
}
#Copernicium:hover .definition {
  transform: translateY(-99%);
}
#Livermorium:hover .definition {
  transform: translateY(-99%);
}
#Mendelevium:hover .definition{
  transform: translateY(-99%);  
}
#Praseodymium:hover .definition{
  transform: translateY(-99%);
}
#Protactinium:hover .definition{
  transform: translateY(-99%);
}
.blocks {
  display: flex;
  flex-direction: column;
  width: fit-content;
  --background: var(--frosted_primary);
  background: var(--background);
  border: 2px inset var(--background);
  box-sizing: border-box;
  border-radius: 5px;
  margin: 2px 2px;
  padding: 2px;
  overflow: visible;
}
.groups_container {
  display: flex;
  flex-direction: row;
  max-height: fit-content;
  padding-bottom: 10px;
}
#S-block{
  padding-left: 10px;
}
#P-block{
  padding-right: 10px;
}
.groups {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-bottom: 0%;
  margin-top: auto;
  padding: 0.5px;
}
hr {
  color: var(--white);
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
}
.table h2 {
  text-align: center;
  color: var(--black);
}
.sub_groups_container {
  display: flex;
  flex-direction: row;
}
