.lios-window-container {
  color: var(--black);
  --background: var(--frosted_white);
  background: var(--background);
  border: 2px outset var(--background);
  box-sizing: border-box;
  overflow: hidden;
}
.lios-window-container > hr{
  width: 100%;
}
.lios-window-close {
  background: var(--red);
}
.lios-window-titlebar {
  overflow: hidden;
}
.lios-window-card {
  background: var(--frosted_white);
  overflow: hidden;
}
.lios-window-value-row {
  text-decoration: none;
  color: var(--secondary);
  transition: all 0.3s ease-in-out;
}
.lios-window-value-row:hover {
  background: var(--frosted_white);
  transition: all 0.3s ease-in-out;
}
#About .favicon {
  display: block;
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
}
.more-from-us {
  width: max-content;
  margin-left: 50%;
  margin-right: 50%;
  transform: translateX(-50%);
}
