      <footer>
        <h1>Virtual Periodic Table</h1>
        <hr />
        <p>
          Virtual-PeriodicTable is an open-source project designed to provide a
          customizable and interactive periodic table. Unlike many existing
          solutions, this project emphasizes simplicity and accessibility,
          allowing anyone with basic knowledge of HTML and CSS to modify it
          according to their preferences.
        </p>
        <a href="https://lios-org.web.app" class="LiOS">
          <div class="element_container alkali_metal solid" data-file="">
            <div class="atomic_no">3</div>
            <div class="symbol">Li</div>
            <div class="name">Lithium</div>
            <div class="mass">6.94</div>
          </div>

          <div class="element_container reactive_nonmetal gas" data-file="">
            <div class="atomic_no">8</div>
            <div class="symbol">O</div>
            <div class="name">Oxygen</div>
            <div class="mass">15.999</div>
          </div>

          <div class="element_container reactive_nonmetal solid" data-file="">
            <div class="atomic_no">16</div>
            <div class="symbol">S</div>
            <div class="name">Sulfur</div>
            <div class="mass">32.06</div>
          </div>
        </a>
      </footer>